 <li> 
        <article class='article_content'> 
            <div class='right-fx'> 
                <h4 class='article-title-inBlogPage'> {{post.data.title}}  </h4> 
             
             </div> 
             <div class="left-fx">
                   <a href="{{ post.url }}"> قراءة</a>
             </div> 
        </article>
    </li>