---
title : courses
layout : 'base.njk'
--- 
    

   

<section class="centerSection">
 
   <h3 class="section-title titleStyle">الكورسات</h3>
   
   <p> الكورسات ليست متوفرة حاليا ربما لاحقا , اشترك في المدونة ليصلك كل جديد</p>

   <div class='blogBackContainer Special_background'>
      <span >  <a href="/blog"> العودة للمقالات</a> </span>
   </div>


</section>
 
   