*, ::after , ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.articles_content {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: black;
}
