/* font  */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap');

/* * {
  outline: 1px solid #353535;
} */


:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: 'Tajawal', sans-serif;
  --ff-heading: 'Tajawal', sans-serif;;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --cl-background : hsl(0, 0%, 7%) ; 
  --cl-fonts: hsl(0, 0%, 100%) ;
  --cl-fonts-Tow: hsla(0, 0%, 100%, 0.459) ;

  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsl(0, 0%, 19%);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  height: auto;
  padding: 5rem ;
}



/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 2em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 48rem;
 
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);

}


.article-title {
  font-size: var(--fs-700);
}
.article-title-inBlogPage {
  font-size: var(--fs-300);
  font-weight: normal;
}

.section-title {
  font-size: var(--fs-500);
  margin: 3rem 0;
}



/* //////////////////////
  Header
  /////////////////////// */

 

.page-header {
  /* padding: 2em 0; */
}

.page-header__content {
  display: flex;
  flex-flow: column nowrap ;
}
.navSpace {
  /* height: 5rem; */
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
    transition: 0.4s;
}
.closer {
  transform: translateX(400px);
  transition: 0.4s;
}
/* .BtmNav  {
 
} */
.nav-list {
  margin: 10px;
  padding: 0;
  margin-left: -450px;
 
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: #101010;
  text-decoration: none;
}
 /* ///////////////////////// 
  top Navbar
  /////////////////////  */ 

  .topNav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    background-color: #131312;
    
  }
  .flexedOne , .flexedTow {
    justify-content: space-between;
    display: flex;
  }
  .flexedOne {
    /* background-color: turquoise; */
    width: 30%;
  }
  .flexedTow {
    width: 60%;
    /* background-color: #9c37c4; */
  }
  .topNavBlogName {
    text-decoration: rtl;

  }
  .datePublish {
    color: rgba(105, 105, 105, 0.459);
  }
  .BlogName {
    color: #f1ecf5;
  font-size: 16px;
  }
  .topNavBlogBarSearch   {
   
  }
  .topNavBlogBarSearch  button:nth-of-type(1){
   border-radius: 25px;
   border: 1px solid #ffffff79;
   color: #fff;
   /* width: 90px; */
   padding: 5px 20px;
   width: 150px;
   height: 40px;
   background: none;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px; 

  } 
  .topNavBlogBarSearch  button img {
    height: 20px;
   
  }
  .topNavBlogLinks {
    
  }
  .topNavBlogLinks ul {
    margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
  } 
  .topNavBlogLinks ul li {
    margin: 0 5px;
    list-style: none;
    background-color: #2b2a2a;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   } 

   .topNavBlogLinks ul li a img {
    width: 25px;
    height: 25px;
    cursor: pointer;

   } 

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 1em 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    margin-bottom: 3rem;
  }

  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: .9;
  }

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
} 

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500); 
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
} 

/*  new css file */

.article_content {
  background-color: #161616;
  padding: 5px 0 ;
  height: 70px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.right-fx {
  width: 80%;
  text-align: right;
  padding-right: 40px;
}
.right-fx h4 {
color: #fff;
}
.left-fx {
  width: 20%;
  height: 70px;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 
.left-fx a{
  color: #fff;
  padding:22px 66px;
  background: transparent;
  text-decoration: none;
  transition: 0.4s;
}
.left-fx a:hover{
  background: #353535;
  transition: 0.4s;
  background: linear-gradient(to right , #272727 , #101010);
}
.p {
  font-size: 12px;
}
/* main article style  */
.main-article {
  background-color:transparent;
  margin-top: 7rem;
  margin-bottom: 10rem;
}
.datePublish {
  
}
.article-title {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: var(--fs-600);
}

.LineHrDiv {
  position: relative;
  margin: 20px 0 ;
  height: 50px;
}

.lineHr {
  width:400px;
  position: absolute;
  border: 2px solid #1b1b1bbe;
  border-radius: 60px;
}
.aLinks {
  text-decoration: none;
  color: #f8ce73;
}
.article-headingOne {
  font-size: var(--fs-400);
  color: var(--clr-primary-500);
}
.article-headingTow {
  font-size: var(--fs-300);
  color: var(--clr-primary-500);
}
.imageimageContainer {
  margin: 5px 0;
}
@media (max-width:550px) {
  
  .lineHr {
    width:250px;
  }
  .imageContent {
    max-width: 290px;
 
  }
  
}

.imageSize {
  width: 80%;
  height: 300px;
}
.titleStyle {
  text-decoration: underline;
  padding-bottom: 4px;
}
.centerSection {
  max-width: 48rem;
  min-height: 90vh;
  margin: auto;
}
.blogBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.blogBackContainer > span {
  background-color: #0f0f0f;
  padding: 10px ;
  min-width: 130px;
  text-align: center;
  transition: 0.4s;
} 
.blogBackContainer > span:hover {
  background-color: #1b1b1b;
  transition: 0.4s;
} 
.blogBackContainer > span  a {
color: #fff;
text-decoration: none;
font-size: 14px;
} 
.welecomeSection {
  background: #f1ecf5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomeContent {
 height: 400px;
 padding: 20px;
 margin-top:5rem;

 padding-bottom: 30px;
 min-width: 300px;
}
.welcome_par {
  margin-top: 25px;
}

/*  css hamburger menu  */ 

.menu-ham {
    width: 2em;
    height: 1.4em;
    background: transparent;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    display: none;
}
.appearHamburgerMenu {
  display: flex;
}
.menu-ham div {
    width: 1.4em;
    height: 0.2em;
    background:white;
    margin: 2px;
    transition: 0.4s;

}
.menu-ham .one {
    transform: translate(  0,4px) rotate(45deg);
}
.menu-ham .tow {
opacity: 0;
transform: translate(-4px ,0);
}
.menu-ham .three {
    transform: translate(  0,-6px) rotate(-45deg);
} 

.rotating  {
  transform: rotate(90deg);
  transition: 0.4s;
} 

/* 
======================= 
  responsive Navbar 
=====================
  */ 

@media (max-width:550px) {
  .topNav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
  }
  .flexedTow , .flexedOne {
    justify-content: space-between;
    display: flex; 
    margin:  5px 0;
  
  }
  .flexedOne {
    width: 100%;
  }
  .flexedTow{
    width: 100%;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
    padding: 5px;
    transform: translateY(-400px);
    display: none;
  }
  .appearFlexedTow {
    transform: translateY(0px);
    display: flex;
  }
  .navBarHight {
    height: auto;
  }
  .BtmNav {
    margin-top: 10px;
  }
  .menu-ham {
    display: flex;
 }
 .nav-list {
  margin: 10px;
  padding: 0;
  margin-left: 0;
}
.nav-list a {
  color: #131312;
  text-decoration: none;
}

.nav-list a:hover {

}
 .topNavBlogLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10px;
}
.BlogName {
  color: #f1ecf5;
  font-size: 12px;
}
.topNavBlogLinks ul li {
  width: 35px;
  height: 35px;
  display: flex;

}
.topNavBlogLinks ul  {
margin-top: 20px;
  }
.topNavBlogLinks ul li  {
border-radius: 10px;
}
.topNavBlogLinks ul li a img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


}

/* 
====================== 
 dark mode editing 
======================
 */ 

 .darkmode--activated p, .darkmode--activated li {
  color: #000;
}

.button {
  isolation: isolate;
}

.darkmode--activated .logo {
  mix-blend-mode: difference;
}